! terminal colors --------------------------------------------------------------
*background:           #272822
*foreground:           #00B7EB
*color0:               #000000
*color8:               #555753
*color1:               #ff6565
*color9:               #ff8d8d
*color2:               #93d44f
*color10:              #c8e7a8
*color3:               #eab93d
*color11:              #ffc123
*color4:               #204a87
*color12:              #3465a4
*color5:               #ce5c00
*color13:              #f57900
*color6:               #89b6e2
*color14:              #46a4ff
*color7:               #cccccc
*color15:              #ffffff

! xterm settings ---------------------------------------------------------------
xterm*dynamicColors:   true
xterm*utf8:            2
xterm*eightBitInput:   true
xterm*saveLines:       4096
xterm*scrollKey:       true
xterm*scrollTtyOutput: false
xterm*scrollBar:       true
xterm*rightScrollBar:  true
xterm*jumpScroll:      true
xterm*multiScroll:     true
xterm*toolBar:         false
xterm*cursorBlink:     true
xterm*cursorOffTime:   500
xterm*cursoronTime:    500
xterm*metaSendsEscape: true
XTerm*visualBell:      false
xterm*faceName:        xft: Droid Sans Mono-16

! bold and underline -----------------------------------------------------------
XTerm*colorBDMode:     true
XTerm*colorBD:         #00FFFF
XTerm*colorULMode:     true
XTerm*colorUL:         rgb:e4/e4/e4

! font -------------------------------------------------------------------------

Xft.dpi:               96
Xft.antialias:         true
Xft.rgba:              rgb
Xft.hinting:           true
Xft.hintstyle:         hintslight

! urxvt settings ---------------------------------------------------------------
URxvt*dynamicColors:   true
URxvt*utf8:            2
URxvt*eightBitInput:   true
URxvt*saveLines:       4096
URxvt*scrollKey:       true
URxvt*multiScroll:     true
URxvt*toolBar:         false
URxvt*cursorBlink:     true
URxvt*cursorOffTime:   500
URxvt*cursoronTime:    500
URxvt*metaSendsEscape: true
URxvt*visualBell:      false
URxvt*font:            xft:Droid Sans Mono-16,xft:Kochi Gothic:antialias=false
URxvt*scrollBar:       false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer:true
URxvt*scrollTtyKeypress:true

! bold and underline -----------------------------------------------------------
URxvt*colorBDMode:     true
URxvt*colorBD:         #00FFFF
URxvt*colorULMode:     true
URxvt*colorUL:         rgb:e4/e4/e4
